body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0096FF;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #0096FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 80%;
    display: none;
}

.card.flipped img {
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #0096FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007BCE;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


.card img {
    width: 78px; /* Ajuste o tamanho conforme necessário */
    height: 101px;
    display: none;
}

.card.flipped img {
    display: block;
}